<% if !flash.empty? %>
  <div class="flash-message">
    <% flash.keys.each do |flash_key| %>
      <p class="alert alert-<%= flash_key %> alert-dismissible fade show" role="alert">
        <span data-testid="message">
          <%= flash[flash_key] %>
        </span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </p>
    <% end %>
  </div>
<% end %>
