@import "~bootstrap/scss/bootstrap";
@import 'react-dates/lib/css/_datepicker.css';

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .container-fluid {
    flex: 1;
  }
}

.footer {
  background-color: rgb(250, 251, 252);
  font-size: 12px;
  a {
    @extend .text-secondary;
  }
}

.alert {
  &.alert-alert {
    @extend .alert-warning;
  }
  &.alert-notice {
    @extend .alert-success;
  }
}

.devise-form {
  form {
    margin-bottom: 1.25em;
  }
  .field {
    @extend .form-group;
  }
  input {
    &[type="email"], &[type="password"] {
      @extend .form-control;
    }
    &[type="checkbox"] {
      // @extend .form-check-input;
    }
    &[type="submit"] {
      @extend .btn;
      @extend .btn-primary;
    }
  }
}

#error_explanation {
  @extend .invalid-feedback;
  display: inherit;
  @extend .alert;
  @extend .alert-danger;
}

